@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Adresa:</strong><br />
    Branilaca Sarajeva 21<br />
    Sarajevo, BIH 71000<br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.91679856828!2d18.418573715057082!3d43.85755314721099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8c5403eac07%3A0x1b03f5ec88eaf09f!2sBranilaca+Sarajeva+21%2C+Sarajevo+71000!5e0!3m2!1shr!2sba!4v1527102586209" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> <br /> <br/>
    <strong>Telefon:</strong>  033-550-540
</address>
<address>
    <strong>E-mail:</strong> <a href="mailto:travelbook_info@gmail.com">travelbook_info@gmail.com</a>
</address>
