@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>



<address>
    Branilaca Sarajeva 21<br />
    Sarajevo, BIH 71000<br />
    <abbr title="Phone">Telefon:</abbr>
    033-550-540
</address>

<address>

    <strong>E-mail:</strong> <a href="mailto:travelbook_info@gmail.com">travelbook_info@gmail.com</a>
</address>
