@{
    ViewBag.Title = "Travel Book";
}

<html>
<head>
    <style>
        body {
            background: url(https://cdn-images-1.medium.com/max/1200/1*N_l3sQECv4Yhght8HtwMGg.jpeg) no-repeat center;
            background-size: initial;
        }
    </style>
</head>
<body>

</body>
</html>

<div class="jumbotron">
    <h1>Travel the world!</h1>
    <p class="lead">Slike ovdje</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Putovanje1</h2>
        <p>
           Pariz
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Pariz">Pogledaj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Putovanje2</h2>
        <p>-</p>
        <p><a class="btn btn-default" >Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>Putovanje3</h2>
        <p>--</p>
        <p><a class="btn btn-default" >Learn more</a></p>
    </div>
</div>